@tailwind components;
@layer components {
  .light-card {
    @apply relative flex flex-row;
    background-color: #1a1a33;
    border-radius: 1.25rem;
    padding: 1.1875rem 1.5rem;
    overflow: hidden;

    .icon {
      @apply relative;
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 1.25rem;
    }
    .content {
      @apply flex-1;
      color: #ffffff;

      mix-blend-mode: hard-light;
      opacity: 0.3;
    }
    h2 {
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 2.125rem;
    }
    p {
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 2.125rem;
    }
  }
}
