@tailwind components;
@layer components {
  .light-card {
    @apply relative flex flex-row items-center;
    overflow: hidden;

    .icon {
      @apply relative;
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 1.25rem;
    }
    .content {
      @apply flex-1;
    }
    h2 {
      font-weight: 600;
      font-size: 1.375rem;
      line-height: 1.9375rem;
      opacity: 1;
      color: #ffffff;
    }
    p {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5625rem;
      opacity: 0.3;
      color: #ffffff;
    }
  }
}
