@tailwind components;
@layer components {
  .card {
    @apply relative flex flex-col items-center;
    border-radius: 1.875rem;
    padding: 2.5rem 1.875rem;
    overflow: hidden;
    .bg {
      @apply absolute h-full w-full left-0 top-0;
      background: linear-gradient(
        137.73deg,
        #ffffff 1.65%,
        rgba(255, 255, 255, 0) 98.48%
      );
      opacity: 0.08;
      border-radius: 1.875rem;
    }
    .icon {
      @apply relative;
      width: 6.25rem;
      height: 6.25rem;
      margin-top: 1.75rem;
    }
    h2 {
      font-weight: 600;
      font-size: 1.625rem;
      line-height: 2.25rem;
      text-align: center;
      margin: 3.125rem 0 1.125rem 0;
      color: #ffffff;
    }
    p {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5625rem;
      text-align: center;

      color: #ffffff;

      opacity: 0.3;
    }
  }
}
