.category-bg {
  position: absolute;
  width: 56.125rem;
  height: 56.125rem;
  top: 0;
  right: -28rem;
  background: #444fc4;
  opacity: 0.2;
  filter: blur(15.625rem);
}
.scheme {
  background: linear-gradient(140.27deg, #212121 2.55%, #141414 93.93%);
  border-radius: 1.875rem;
  height: 23.75rem;
  background-repeat: no-repeat;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.875rem 2.3125rem;
  &:hover {
  }
  .scheme-icon,
  .scheme-text {
    flex: 1;
  }
  .scheme-icon {
    position: relative;
  }
  .scheme-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-weight: 600;
      font-size: 1.625rem;
      line-height: 2.25rem;
      color: #ffffff;
      margin-bottom: 1.25rem;
    }
    p {
      color: #ffffff;
      opacity: 0.3;
      text-align: center;
    }
  }
}
.tab-section {
  @apply grid grid-cols-2 gap-4;
  padding: 6.25rem 0;
  .left {
    .center {
      @apply flex flex-col h-full justify-center;
    }
    h2 {
      font-weight: 600;
      font-size: 1.875rem;
      line-height: 2.625rem;
      color: #ffffff;
      margin-bottom: 1rem;
    }
    .des {
      margin-bottom: 1.1875rem;
    }
    .des > p {
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 1.875rem;
      color: #ffffff;
      opacity: 0.5;
    }
    .more {
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 1.875rem;
      color: #ffffff;
      opacity: 0.8;
      display: block;
    }
  }
  .right {
    .image-wrap {
      @apply relative;
    }
  }
}
.card-section {
  @apply mx-10;
  margin-bottom: 9.125rem;
  .image-wrap {
    @apply relative;
  }
}

.tips {
  background-color: #1c1c36;
  border-radius: 1.875rem;
  background-image: url("/images/library/tips-bg.png");
  background-size: contain;
  top: -3.75rem;
  position: relative;
  z-index: 100;
  .content {
    @apply flex flex-row items-center;
    padding: 3.4375rem 4.375rem;
  }
  .content > .icon {
    @apply relative;
    width: 6.25rem;
    height: 6.25rem;
    margin-right: 2.6875rem;
  }
  .content > .body > h2 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.8125rem;
    color: #ffffff;
    margin-bottom: 0.875rem;
  }
  .content > .body > p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5625rem;

    color: #ffffff;

    mix-blend-mode: hard-light;
    opacity: 0.4;
  }
}
.lib-bg {
  position: absolute;
  width: 56.125rem;
  height: 56.125rem;
  right: 0;
  top: 0;
  background: #444fc4;
  opacity: 0.2;
  filter: blur(15.625rem);
  transform: translate(50%, 0);
}
