.studio {
  background-image: url("/images/cad/grid.png");
  background-repeat: repeat;
}
.text__banner {
  min-height: 75rem;
  background-color: black;
  @apply relative;
  .text__banner__bg {
    position: absolute;
  }
  .text__banner__bg > .bg__wrap {
    width: 735px;
    height: 986px;
    position: relative;
  }
  .text__banner__content {
    min-height: 75rem;
    @apply container relative flex flex-row items-center h-full justify-end;
    .text__slider {
      width: 745px;
      height: 17.5rem;
      color: white;
      margin: 0;
    }
    .slide__item {
      @apply h-full flex flex-col;
      padding: 0 8.375rem;
      h2 {
        font-weight: 500;
        font-size: 50px;
        line-height: 70px;
        /* identical to box height */

        color: #ffffff;
      }
      h3 {
        font-weight: 300;
        font-size: 30px;
        line-height: 42px;
        /* identical to box height */

        color: #ffffff;
        margin: 0.9375rem 0 1.1875rem 0;
      }
      p {
        font-weight: 300;
        font-size: 20px;
        line-height: 28px;

        color: rgba(255, 255, 255, 0.5);
      }
    }
    :global(.swiper-button-prev) {
      width: 60px;
      height: 60px;
      background-image: url("/images/studio/btn-prev.png");
      background-size: cover;
      &::after {
        content: "";
      }
    }
    :global(.swiper-button-next) {
      width: 60px;
      height: 60px;
      background-image: url("/images/studio/btn-next.png");
      background-size: cover;
      &::after {
        content: "";
      }
    }
    :global(.swiper-pagination-bullet) {
      width: 3.125rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      text-align: center;
      opacity: 1;
      margin: 0 0.5rem !important;
      height: 1.25rem;
      cursor: pointer;
      border-radius: 0;
    }

    :global(.swiper-pagination-bullet-active) {
      border-bottom: 1px solid white;
      background-color: transparent;
    }
  }
}
.card {
  background: linear-gradient(180deg, #9747ff 0%, rgba(151, 71, 255, 0) 100%);
  border-radius: 1.25rem;
  padding: 6.9375rem 0 10.5625rem 0;
  @apply flex flex-col items-center;
  .iconWrap {
    @apply relative;
    width: 10.0625rem;
    height: 9rem;
  }
  p {
    font-weight: 500;
    font-size: 3.75rem;
    line-height: 5.25rem;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
    margin-top: 4.6875rem;
  }
}
.power {
  font-style: normal;
  font-weight: 700;
  font-size: 16.75rem;
  line-height: 22rem;
  /* identical to box height */

  color: rgba(255, 255, 255, 0.1);
  text-align: center;
  margin-top: -100px;
}

.card-wrap {
  width: 30rem;
  margin-right: 6.25rem;
  flex-shrink: 0;
}
.slider-wrap {
  flex: 1;
  overflow: hidden;
}
.slider {
  height: 100%;
  color: white;
  :global(.swiper-pagination) {
    text-align: left;
  }
  :global(.swiper-pagination-bullet) {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    font-size: 20px;
    color: #fff;
    opacity: 1;
    background: rgba(255, 255, 255, 0.2);
    margin-right: 1.875rem !important;
    &:last-child {
      margin-right: 0 !important;
    }
  }

  :global(.swiper-pagination-bullet-active) {
    color: #a76fd8;
    background: #ffffff;
  }
  .slide-item .slide-item__title {
    font-weight: 500;
    font-size: 3.125rem;
    line-height: 4.375rem;
    /* identical to box height */

    color: #ffffff;
  }
  .slide-item .slide-item__sub-title {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.75rem;

    color: #ffffff;
    margin-top: 0.5625rem;
    margin-bottom: 1.1875rem;
  }
  .slide-item__image {
    height: 402px;
    position: relative;
    .image {
      object-fit: contain;
      width: unset !important;
      position: relative !important;
      height: 100% !important;
    }
  }
}

.number {
  background: black;
  .num {
    font-weight: 800;
    font-size: 50rem;
    line-height: 58.625rem;
    /* identical to box height */
    font-family: "Roboto";
    text-align: center;

    color: rgba(255, 255, 255, 0.14);
    letter-spacing: 7.5rem;
  }
  .title {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 5.625rem;
    line-height: 7.875rem;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
  }
  .number-section {
    position: relative;
    padding: 150px 0;
  }
  .number-section > .image-wrapper {
    @apply relative;
    width: 57.5rem;
    height: 57rem;
    margin: 0 auto;

    &.small {
      width: 46rem;
      height: 46.1875rem;
    }
  }
  .number-section > .text {
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 50%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 55.73%);
  }
  .number-section > .text > h2 {
    margin-top: 150px;
    font-weight: 600;
    font-size: 60px;
    line-height: 84px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
  }
  .number-section > .text > h1 {
    font-weight: 600;
    font-size: 90px;
    line-height: 126px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
  }
}

.tab-view {
  background-color: #000000;
  color: white;
  h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
  }
  .tab-view__content {
    @apply container;
    .image-wrapper {
      height: 560px;
      margin: 3.0625rem 0;
      @apply relative flex flex-row items-center justify-center;
      .image {
        height: 100% !important;
        width: unset !important;
        object-fit: contain;
        left: 50% !important;
        transform: translateX(-50%) !important;
      }
    }
    .btns {
      @apply flex flex-row items-center justify-center;
    }
    .btn {
      @apply flex flex-row items-center justify-center;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 8px;
      width: 220px;
      height: 90px;
      cursor: pointer;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      &.active {
        background: #a76fd8;
      }
    }
    .btn__icon {
      width: 3.75rem;
      height: 3.75rem;
      @apply relative;
    }
  }
}
.download {
  background: black;
  position: relative;
  h2 {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3.5rem;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
    padding: 7.5rem 0;
  }
  .download__bg {
    @apply absolute top-0 bottom-0 flex justify-center items-center;
    font-weight: 700;
    font-size: 600px;
    line-height: 703px;
    width: 120rem;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.1);
    text-align: center;
  }
  .download__content {
    position: relative;
  }
  .download__wrap {
    @apply container grid grid-cols-3 gap-55/2;
    .card {
      background: rgba(255, 255, 255, 0.12);
      backdrop-filter: blur(40px);
      /* Note: backdrop-filter has minimal browser support */

      border-radius: 1.25rem;
      padding: 8.5625rem 0 3.5rem 0;
      .icon__wrap {
        width: 10rem;
        height: 10rem;
        position: relative;
      }
      p {
        font-weight: 400;
        font-size: 1.875rem;
        line-height: 2.625rem;
        margin-top: 9.1875rem;
      }
    }
  }
}
