@tailwind components;
@layer components {
  .tabbar {
    @apply flex flex-row items-center justify-center;
    font-family: "PingFang SC";
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .tabbar-item {
    @apply flex flex-col items-center justify-center;
    margin: 0 1.5625rem;
    padding: 2rem 0;
    cursor: pointer;
    position: relative;
    &.active::after {
      content: "";
      position: absolute;
      display: block;
      width: 1.5625rem;
      height: 0.125rem;
      background: #fff;
      bottom: -1px;
    }
  }
  .tabbar-item .icon {
    @apply flex items-center justify-center;
    margin-bottom: 0.75rem;
    width: 4.375rem;
    height: 4.375rem;
    position: relative;
    border-radius: 0.75rem;
    background: linear-gradient(
      137.73deg,
      #ffffff 1.65%,
      rgba(255, 255, 255, 0) 98.48%
    );
    opacity: 0.08;
  }
  .tabbar-item .text {
    @apply text-white;
    opacity: 0.3;
    font-size: 1.125rem;
    font-weight: 400;
  }
  .tabbar-item.active .icon {
    opacity: 1;
    background-image: url("./images/bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .tabbar-item.active .text {
    font-weight: 600;
    opacity: 1;
  }
}
