@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.section-title {
  @apply text-white text-center;
  font-size: 2.25rem;
  line-height: 3.125rem;
}
.section-subtitle {
  @apply text-white text-center opacity-40;
  font-size: 1.125rem;
  line-height: 1.5625rem;
}
