.brand-service {
  @apply relative;
  color: #ffffff;
  padding: 2.75rem 2.5rem;
  background-color: #0f0f1f;
  border-radius: 1.875rem;

  .bg {
    @apply absolute;
    background-image: url("/images/verse/service-bg.png");
    width: 73.0625rem;
    height: 67.6875rem;
  }
  h2.title {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.1875rem;
    margin-bottom: 3rem;
  }
  .brand-service-list {
    height: 40rem;
    @apply flex flex-row gap-5;
    .item {
      @apply h-full;
    }
  }
}
.file-type-section {
  @apply grid grid-cols-3 gap-5;
}
.file-type-section > .file-type-card {
  @apply flex justify-center items-center;
  background: #14122e;
  border-radius: 1.556rem;
  overflow: hidden;
  @screen md {
    height: 9.375rem;
  }
  .file-type-card-icon {
    @apply relative;
    width: 2.5rem;
    height: 2.5rem;
  }
}
.setting {
  @apply relative overflow-hidden;

  background: linear-gradient(90deg, #8e3cf3 0%, #3d3afc 94.29%);
  .mask {
    @apply absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 59.9375rem;
    height: 17.5rem;
    &.mask1 {
      right: 0;
    }
    &.mask2 {
      left: 0;
    }
  }
  .setting-wrap {
    @apply flex flex-row justify-between relative;
    padding: 4.375rem 0;
  }
  h2.title {
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 3rem;
    color: #ffffff;
    margin-bottom: 2.625rem;
  }
  .image-wrap {
    position: absolute;
    right: 0;
    top: 0.125rem;
    width: 34.375rem;
    height: 24.375rem;
    z-index: 1;
  }
}
.function-section {
  @apply grid grid-cols-4 gap-x-32 gap-y-14;
  padding-top: 4.5rem;
}
.qrcode-section {
  @apply flex flex-row justify-center;
  .qrcode-card {
    background: #101025;
    border-radius: 1.875rem;
    padding: 2.25rem 2.5rem;
    margin: 0 1.5625rem;
    p {
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 1.5625rem;
      text-align: center;

      color: #ffffff;

      opacity: 0.5;
      margin-bottom: 0.375rem;
      margin-top: 1.6875rem;
    }
  }
  .qrcode-image {
    width: 9.375rem;
    height: 9.375rem;
  }
}
