@tailwind components;
@layer components {
  .contact-form {
  }
  .form-item {
    @apply flex flex-row flex-1;
    background: #1e1e3a;
    opacity: 0.7;
    border-radius: 0.75rem;
    padding: 1.1875rem 1.5rem;
    margin-bottom: 1.25rem;
    label {
      @apply text-white block;
      margin-right: 0.5rem;
      opacity: 0.5;
    }
    &.vertical {
      @apply flex-col;
      label {
        margin-bottom: 0.5rem;
      }
    }
  }
  .form-item-input {
    @apply bg-transparent border-none outline-none text-white flex-1;
  }
}
