@tailwind components;
@layer components {
  .header {
    @apply fixed top-0 left-0 w-full text-white;
    z-index: 9999;
    :global(.headroom--pinned) {
      @apply bg-rev-bg-black;
    }
  }
  .logo {
    margin-right: 6rem;
  }
  .menu {
    @apply flex flex-row items-center;
    li {
      font-size: 0.875rem;
      color: rgba(255, 255, 255, 0.5);
      margin-left: 3.8125rem;
      &:first-child {
        margin-left: 0;
      }
      &.active {
        color: white;
      }
      > a {
        padding: 0.5rem;
      }
    }
  }
  .menu-dropdown {
    .menu-dropdown__wrap {
      @apply mt-3;
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(1.25rem);
      border-radius: 0.75rem;
      color: rgba(255, 255, 255, 0.3);
    }
    ul {
      background: transparent;
      box-shadow: none;
      li {
        &.first {
          border-top-right-radius: 0.75rem;
          border-top-left-radius: 0.75rem;
        }
        &.last {
          border-bottom-right-radius: 0.75rem;
          border-bottom-left-radius: 0.75rem;
        }
        &.first > :global(.szh-menu__item--submenu) {
          border-top-right-radius: 0.75rem;
          border-top-left-radius: 0.75rem;
        }
        &.last > :global(.szh-menu__item--submenu) {
          border-bottom-right-radius: 0.75rem;
          border-bottom-left-radius: 0.75rem;
        }
      }
    }
    :global(.szh-menu) {
      padding: 0;
    }
    :global(.szh-menu__item) {
      padding: 0.625rem 1.25rem;
    }
    :global(.szh-menu__item--hover) {
      background-color: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(1.25rem);
    }
  }
}
