@tailwind components;
@layer components {
  .title {
    @apply flex flex-row items-center;
    padding: 17px 35px;
    background: rgba(18, 18, 43, 0.95);
    font-weight: 400;
    font-size: 38px;
    line-height: 53px;
    letter-spacing: -0.03em;

    color: #ffffff;
    .title__icon {
      width: 42px;
      height: 42px;
      position: relative;
      margin-left: 1rem;
    }
  }
  .privacy__modal__content {
    background-color: white;
    padding: 40px 35px;
    h2 {
      font-weight: 500;
      font-size: 20px;
      line-height: 128.5%;
      /* or 26px */

      letter-spacing: -0.03em;

      color: #000000;
      margin: 19px 0;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 128.5%;
      /* or 21px */

      letter-spacing: -0.03em;

      color: #545454;
    }
  }
}
